deploymentMode: SingleBinary

loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  storage:
    type: 'filesystem'
  schemaConfig:
    configs:
    - from: 2024-04-01
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h
  filesystem:
    chunks_directory: /var/loki/chunks
    rules_directory: /var/loki/rules

singleBinary:
  replicas: 1
  persistence:
    enabled: true
    storageClass: "standard"
    size: 10Gi
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 256Mi

minio:
  enabled: false

# KILL the dead chunks cache
chunksCache:
  enabled: false
  replicas: 0

resultsCache:
  enabled: false
  replicas: 0

monitoring:
  dashboards:
    enabled: false
  rules:
    enabled: false
  serviceMonitor:
    enabled: false
  selfMonitoring:
    enabled: false
    # Disable here to avoid duplication if using top-level
    lokiCanary:
      enabled: false 
    grafanaAgent:
      installOperator: false

# Enable Canary here with Tolerations!
lokiCanary:
  enabled: true
  resources:
    limits:
      cpu: 50m
      memory: 100Mi
    requests:
      cpu: 10m
      memory: 50Mi
  # Allow running on the "defrag" node
  tolerations:
  - key: "autoscaling.gke.io/defrag-candidate"
    operator: "Exists"
    effect: "PreferNoSchedule"
  - key: "autoscaling.gke.io/defrag-candidate"
    operator: "Exists"
    effect: "NoSchedule"

backend:
  replicas: 0
read:
  replicas: 0
write:
  replicas: 0