    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: python-app
    spec:
      replicas: 2
      selector:
        matchLabels:
          app: python-app
      template:
        metadata:
          labels:
            app: python-app
        spec:
          containers:
          - name: python-app
            image: us-central1-docker.pkg.dev/sre-portfolio-project-481507/sre-repo/python-app:41608df40971f060e3e227eb7bdd21344acdad16
            ports:
            - containerPort: 8080
            env: 
            - name: PORT
              value: "8080"
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: "http://tempo.monitoring.svc.cluster.local:4317"
            resources:
              requests:
                cpu: "2m"
                memory: "256Mi"
              limits:
                cpu: "500m"
                memory: "512Mi"